@import 'core/variables';
@import 'core/mixins';
@import 'core/fonts';
@import 'core/text';
@import 'core/layout';
@import 'core/spaces';

@import 'utilities/pagination';
@import 'utilities/forms';
@import 'utilities/buttons';
@import 'utilities/general';
@import 'utilities/gradients';
@import 'utilities/backgrounds';
@import 'utilities/borders';
@import 'utilities/banners';

@import 'animations/shimmer';

#content {
  background-color: #f7f8fa;
}

.pace .pace-progress {
  background-color: $color-red;
  height: 4px;
}
