.form-control-full{
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 4px !important;
  min-height: 3.5rem;
  width: 100%;
  padding: 0 1.5rem;
}

.form-block input, .form-block select{
  padding-top: toRem(12px) !important;
  padding-bottom: toRem(12px) !important;
  border-radius: 8px;
}

label{
  margin-left: 0 !important;
}

.input-loader {
  position: absolute;
  right: 4%;
  top: 16%;
}