.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 0;
  & > li > a {
    color: #263238;
  }
  & > li > a, & > li > span {
    position: relative;
    float: right;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #061A40;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  & > li:hover {
    transform: scale(1.1);
    z-index: 100;
  }
}

.pagination > .active > a {
  background-color: #c5c5c5 !important;
  border-color: #c5c5c5 !important;
}
.pagination > .active > a:hover {
  //background-color: #c5c5c5 !important;
  background-color: #c5c5c5 !important;
  border-color: #c5c5c5 !important;
}