html {
  font-size: toRem($base-font-size);
}

.min-height-75-vh {
  min-height: 75vh !important;
}

.min-height-80-vh {
  min-height: 80vh !important;
}

.min-height-89-vh {
  min-height: 89vh !important;
}

.min-height-100-vh {
  min-height: 100vh !important;
}

.min-width-7-r {
  min-width: 7rem !important;
}

.min-width-8-r {
  min-width: 8rem !important;
}

.max-width-42-r {
  max-width: 42rem !important;
}

.max-width-43-r {
  max-width: 43rem !important;
}

.max-height-25-r {
  max-height: 25rem !important;
}

.max-height-30-r {
  max-height: 30rem !important;
}

.h-inherit {
  height: inherit !important;
}

.h-100 {
  height: 100% !important;
}

.w-unset {
  width: unset !important;
}

.w-md-unset {
  @include screen(large) {
    width: unset !important;
  }
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-lg-35 {
  @include screen('x-large') {
    width: 35% !important;
  }
}

.w-40 {
  width: 40% !important;
}

.w-lg-40 {
  @include screen('x-large') {
    width: 40% !important;
  }
}

.w-lg-43 {
  @include screen('x-large') {
    width: 43% !important;
  }
}

.w-45 {
  width: 45% !important;
}

.w-lg-45 {
  @include screen('x-large') {
    width: 45% !important;
  }
}

.w-lg-50 {
  @include screen('x-large') {
    width: 50% !important;
  }
}

.w-60 {
  width: 60% !important;
}


.w-lg-60 {
  @include screen('x-large') {
    width: 60% !important;
  }
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-lg-70 {
  @include screen('x-large') {
    width: 70% !important;
  }
}

.w-lg-74 {
  @include screen('x-large') {
    width: 74% !important;
  }
}

.w-lg-75 {
  @include screen('x-large') {
    width: 75% !important;
  }
}

.w-80 {
  width: 80% !important;
}

.w-83 {
  width: 83% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}


.w-lg-100 {
  @include screen('x-large') {
    width: 100% !important;
  }
}

.w-3-r {
  width: 3rem !important;
}

.w-m-25 {
  @include screen(med-small) {
    width: 25% !important;
  }
}

.w-m-40 {
  @include screen(med-small) {
    width: 40% !important;
  }
}

.w-m-50 {
  @include screen(med-small) {
    width: 50% !important;
  }
}

.w-m-75 {
  @include screen(med-small) {
    width: 75% !important;
  }
}

.w-m-100 {
  @include screen(med-small) {
    width: 100% !important;
  }
}

.overflow-x-unset {
  overflow-x: unset !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.content-padding {
  padding: 7.5rem 12rem;
}

body {
  height: 100%;
  margin: 0;
}

.centralize {
  margin-left: auto;
  margin-right: auto;
  @include screen('x-large') {
    width: 70%;
  }

  @include screen('med') {
    width: 85%;
  }
}

.top {
  &-1-r {
    top: 1rem;
  }

  &-2-r {
    top: 2rem;
  }

  &-3-r {
    top: 3rem;
  }

  &-4-r {
    top: 4rem;
  }
}

.perfect {
  &-center-horizontal {
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
  }

  &-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.rounded-8 {
  border-radius: 8px;
}

.content {
  padding: toRem(80px) toRem(32px);
  @include screen('med') {
    padding: toRem(64px) toRem(24px);
  }

  //  desktop
  @include screen('x-large') {
    //padding: toRem(80px) toRem(100px);
    padding: toRem(80px) 8%;
  }

  @media screen and (min-width: 1600px) {
    padding: toRem(80px) 12%;
  }

  @media screen and (min-width: 1800px) {
    padding: toRem(80px) 18%;
  }

  @media screen and (min-width: 2050px) {
    padding: toRem(80px) 20%;
  }
  //
  //@media screen and (min-width: 2450px) {
  //  padding: toRem(80px) toRem(608px);
  //}
  //
  ////// desktop 2k
  ////@media screen and (min-width: 2420px){
  ////  padding: toRem(80px) toRem(608px);
  ////}
  //
  //
  //  4k desktop
  @include screen('xxx-large') {
    padding: toRem(80px) 23%;
  }
}

.sect-header {
  text-align: center;
  margin-bottom: toRem(61px);
  font-weight: 600;
  color: $color-heading-black;
  margin-left: auto;
  margin-right: auto;

  @include screen('med') {
    font-size: toRem(24px);
    line-height: toRem(30px);
  }
}

img {
  width: 100%;
}


