$base-font-size: 16;
$color-heading-black: #292c3e;
$color-primary: #5564f5;
$color-dark-blue: #0C1142;
$color-faded-cyan: #F0F2F7;
$color-faded-blue: #F3FAFF;
$color-faded-grey: #83859E;
$color-muted-grey: #838996;
$color-light-blue: #3aa1ec;
$color-light-green: rgb(81, 210, 48);
$color-grey: #ADB0B9;
$text-link-black: #1e2833;


$color-red: #ec3a40;
$color-green: #00a02d;
$text-grey: #6a6969;
$text-grey-f4f: #4f4f4f;
$text-grey-9a9: #a9a9a9;
$text-grey-282: #828282;
$text-grey-dbd: #bdbdbd;
$text-white-2: #f6f6f6;
$color-dark-grey: #525252;
$text-nav-grey: #6b6f82;
